//ROOT and general variables
:root{
    --primatry-color: #3f6ff3;
    --secondary-color: #e2e9fd;
    --neutral-300: #f8f9fb;
    --neutral-400: #eceff4;
    --neutral-500: #c5cfdd;
    --neutral-600: #a2aab3;
    --Green: #70d36b;
    --Yellow: #ffcb05;
    --Red: #ff5d54; 
    --billsColor: #0066cc;    
    --apparelColor: #ff69b4;
    --eatingColor: #ffa500;
    --educationColor: #00ccff;
    --groceriesColor: #228b22;
    --miscColor: #808080;
    --petsColor: #ff6347;
    --housingColor: #8b4513;
    --transportColor: #008080;
    --vacationColor: #ffdfba;    

    --text-color-primary: #000000;
    --text_color_secondary: #545454;

    --h2-font-size: 2.5rem;
    --regularFont : 1.2rem;
    --largeFont : 1.5rem;

    --iconWidth : 4rem;
    --smallIconWidth : 3rem;
   
    @media (prefers-color-scheme: dark) {
        
    }
}

$bp-mobile: 27rem;
$bp-tablet: 48rem;


//************* RESET ***********
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Archivo Black', sans-serif;
}

* {
    margin: 0;
    // border: 0;
}

ul, ol, menu, li {
    padding: 0;
    list-style: none;
    
}

html{
    background-color: var(--margin-color,darkgrey);
    font-size: var(--regularFont,1rem);
    color: var(--text-color-primary);
}

body, main {
    background-color: var(--backgroundColor,white);    
}

h2{
    // text-align: center;
    color: var(--text-color-primary);
    font-size: var(--h2-font-size, 3rem);
}

h3{
    text-align: center;
    color: var(--text_color_main);
    font-size: var(--regularFont, 2rem);
}

p{
    color: var(--text_color_secondary);
}

a{
    color: var(--text_color_main);
    text-decoration: none;
    cursor: pointer;
    // &:hover{
    //     color: var(--text_color_secondary);        
    // }   
}

//************* COMPOSITION ***********

body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    width: 97vw;
    height: 97vh;
    
    margin: auto;
    margin-top: 1.5vh;
    
}

//************* UTILITIES ***********
.u-centerText{
    text-align: center;
}

.u-listInline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.u-marginTop-1rem{
    margin-top: 1rem;
}

.u-marginBot-1rem{
    margin-bottom: 1rem;
}

.u-borderRadius-16{
    border-radius: 1rem;
}

.u-margin-4{
    margin: 0.25rem;
}
.u-regFont{
    font-size: var(--regularFont);
}

.u-smallerH2{
    font-size: 2.0rem;
}

.u-Bills{
    background-color: var(--billsColor, #0066cc);
}
.u-Apparel{
    background-color: var(--apparelColor, #ff69b4);
}
.u-Eating{
    background-color: var(--eatingColor, #ffa500);
}
.u-Education{
    background-color: var(--educationColor,#00ccff);
}
.u-Groceries{
    background-color: var(--groceriesColor,#228b22);
}
.u-Miscellaneous{
    background-color: var(--miscColor,#808080);
}
.u-Pets{
    background-color: var(--petsColor,#ff6347);
}
.u-Housing{
    background-color: var(--housingColor,#8b4513);
}   
.u-Transportation{
    background-color: var(--transportColor,#008080);
}
.u-Vacations{
    background-color: var(--vacationColor,#ffdfba);
}
.u-income{
    background-color: #008000;
}
.u-totalIncome{
    color: #008000;
}
.u-totalExpense{
    color: #ff4500;
}
.u-pBalance{
    color: #228b22;
}
.u-nBalance{
    color: #b22222;
}


//************* BLOCKS ***********
.monthInput{
    font-size: var(--largeFont);
    border: none;;
}

.iconPH{

    width: var(--iconWidth);
    height: var(--iconWidth);
    border-radius: 50%;
    background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--largeFont);

    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }

}

.iconPHsmall{

    width: var(--smallIconWidth);
    height: var(--smallIconWidth);
    border-radius: 50%;
    //background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--regularFont);

    // cursor: pointer;
    // &:hover{
    //     transform: scale(1.1);
    // }

}

.sideMenu{
    border: 1px solid darkgray;
    // margin: 0.25rem;
    
    grid-column: 1/2;
    grid-row: 1/13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}
.pageHeader{
    // margin: 0.25rem;
    border: 1px solid darkgray;

    grid-column: 2/5;
    grid-row: 1/2;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 0.5rem;
}

.balanceSheet{
    border: 1px solid darkgrey;
    grid-column: 2/5;
    grid-row: 2/6;
    // margin: 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    li{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    span{
        font-size: 2rem;
        font-weight: 600;
    }
}

.expenseMeter{
    position: relative;
    border: 1px solid darkgray;   

    grid-column: 5/9;
    grid-row: 1/6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.meterBalance{
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 0.5rem;
}
.meterPercentage{
    position: absolute;
    font-size: 4rem;
    font-weight: 600;
    bottom: 2rem;
}

.expenseMeterCanvas{
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
}

.expencesGraph{
    border: 1px solid darkgray;
    grid-column: 9/13;
    grid-row: 1/6;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.expencesGraphCanvas{
    // border: 1px solid red;
    width: calc(100% - 0.5rem);
    height: calc(100% - var(--regularFont) - 0.5rem);

}

.expensesSection{
    // border: 1px solid red;
    grid-column: 2/8;
    grid-row: 1/13;          
}

.expensesList{
    // background-color: red;
    max-height: calc(100% - var(--largeFont) - 3rem);
    display: flex;    
    flex-direction: column;
    
    overflow-y: scroll;   
    overflow-x: hidden;
    gap: 1rem;    
}

.recentExpensesList{
    // background-color: red;
    max-height: calc(100% - var(--largeFont));
    display: flex;    
    // flex-wrap: wrap;
    flex-direction: column;
          
    overflow-x: hidden;
    gap: 0.85rem;    
}
.recentExpences{
    border: 1px solid darkgray;
    grid-column: 2/9;
    grid-row: 6/13;
}

.transactionRow{
    display: grid;
    grid-template-columns: 0.85fr 1.1fr 3fr 2fr;
    
    font-size: var(--regularFont);
    align-items: center;
    :first-child{
        margin-left: 1rem;
    }
    :last-child{
        text-align: right;
        margin-right: 1rem;
    }
}

.datesRange{
    font-size: var(--largeFont);
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.largestCategories{
    border: 1px solid darkgray;
    grid-column: 9/13;
    grid-row: 6/13;
    
}

.largestCategoriesList{
    display: flex;    
    flex-direction: column;
    justify-content: space-around;
    max-height: calc(100% - var(--largeFont));    
    overflow-x: hidden;
    gap: 0.8rem;       
}
.categoryRow{    
    font-size: var(--regularFont);
    display: grid;
    grid-template-columns: 1.25fr 3fr 2fr;  
        
    align-items: center;
    :first-child{
        margin-left: 1rem;
    }
    :last-child{
        text-align: right;
        margin-right: 1rem;
    }
}



.fileHandler{
    border: 1px solid red;
    grid-column: 2/3;
    grid-row: 3/5;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
}

.transactioFileHandler{
    border: 1px solid red;
    grid-column: 2/3;
    grid-row: 3/8;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
}

.loginForm{
    border: 1px solid red;
    grid-column: 3/4;
    grid-row: 4/10;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.registerForm{
    border: 1px solid red;
    grid-column: 3/4;
    grid-row: 4/10;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.toast {
    background: #f44336;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    animation: fadeOut 3s ease forwards;
    z-index: 1000;
    position: absolute;

    @keyframes fadeOut {
        0% { opacity: 1; }
        80% { opacity: 1; }
        100% { opacity: 0; }
    }
}